body{
  font-family: sans-serif;
  /*background-image: url("http://substantial.com/assets/images/blog/2015/05/materialdesign_blog.png");*/
  background-image: linear-gradient(to bottom, #06BAB4 0%, #09309C 100%);
  background-size: 100%;
  background-position: center;
  background-color: #cccccc;
}

ul{
  margin: 0;
  padding: 0;
  background: #445673;
}


h1{
  text-align: center;
  color: #ffffff;
  font-family: 'Raleway',sans-serif; 
  font-size: 62px; font-weight: 800; 
  line-height: 72px; 
  margin: 0 0 24px; 
  text-align: center; 
  text-transform: 
  uppercase; 
}

h2 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 20px 0 24px; }

#logo{
  width: 46px;
  height: 44px;
  background: url("https://github.com/mmattamala/LogosFCFM/blob/master/Universidad%20de%20Chile/logo_escudo_png.png?raw=true") 0 0;
}


#login{
  padding-left: 50px;
}
.checkBox{
  padding-left: 50px;
}

.mainTable{
  padding: 10px 10px 10px 10px;
}

.scroll{
  padding-right: 50px;
}
.event{
  border: 1px solid #CCFFFF;
  font-family: Arial, Helvetica, sans-serif;
  width:300px;
  background:#CCFFFF;
}
#textTitle{
  font-size:20px;
  text-align:left;
}
#textDesc{
  font-size:15px;
}
.tableDate{
  border: 1px solid black;
  padding:5px 15px 5px 15px;
  background: #009999;
  color: white;
  line-height: 150%;
  height:50px;
  width:80px;
  font-weight: normal;
}
.tableInfo{
    width:180px;
}
.container{
   width: 320px;
   height: 350px;
   overflow:scroll;
}



.fc-event {
  background: #99FFCC !important;
  color: #000 !important;
  }
  
/* for vertical events */
  
.fc-event-bg {
  display: none !important;
  }
  
.fc-event .ui-resizable-handle {
  display: none !important;
  }
